ul.dashed {
  list-style: none;
  padding-left: 0;
}

ul.dashed > li {
  margin-left: 15px;
}

ul.dashed > li:before {
  content: "-   ";
  margin-left: -10px;
}

hr {
  height:7px;
  border:none;
  color:#333;
  background-color:#333;
}
